/* Alapalkki footer*/
.footer {
    background-color: #ffff; 
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    color: #3757c8;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
  }
  .footer p {
    font-family: "Playfair Display", serif;
  }
.footer h8{
  font-family: "Playfair Display", serif;
  font-size:x-small;

}